body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#SearchMap {
  height: 600px;
}

.searchControls {
  padding-bottom: 10%;
  margin: 1.5%;
}

.navbar-item #user {
  margin-top: 7.5px;
  padding-right: 10px;
  color: black;
}
#videoInfoModal {
  background-color: rgba(0, 0, 0, 0.1);
}
.search-controls-datetimepicker {
  padding-bottom: 10%;
  margin: 1.5%;
}

.Demo__search-bar-container {
  float: left;
  position: relative;
  background: none repeat scroll 0 0 #ffffff;
  z-index: 99999;
}

.Demo__autocomplete-container {
  background: none repeat scroll 0 0 #ffffff;
  position: absolute;

  left: 0;
  top: 100%;
  width: 150%;
  transition: height 1s ease;
}

#videosScroll {
  overflow-y:auto;
  height:380px;
}